button {
  max-width: 6em;
  font-family: "Lato", helvetica, arial, sans-serif;
  color: #eee;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  border: solid 1px #666;
  border-radius: 4px;
  background-color: #666;

  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.buttonfade {
  font-size: 1em;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3s;
}

button:hover {
  color: inherit;
  background-color: #333;
}
