.checklist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checklist-row{
  margin-bottom: 10em;
}

.checklist-row {
  display: flex;
}

.check__img {
  margin: 5px;
}
