.checklist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checklist-row {
  margin-bottom: 10em;
}

.checklist-h1{
}
.checklist-h2{
}
.checklist-h3{
}
.check__img {
  margin: 5px;
}

@media (max-width: 600px) {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px){
  .checklist-row {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
