h1 {
  font-size: 3em;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1.5s;
}

h2 {
  font-size: 1.5em;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
}

h3 {
  display: flex;
  font-size: 1em;
}

h4 {
  display: flex;
}
