header {
  background: transparent url("bg.jpg") fixed 50% 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 10em;
}
