$max-width: 1200px;
$gutter: 20px;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

header {
  background: transparent url("bg.jpg") fixed 50% 50%;
  background-size: cover;
  position: relative;
  text-align: center;
  opacity: 0.8;
  width: 100%;
  height: 60em; // þarf að gera hæðina sjálfgefna
  justify-content: center;
  flex-direction: column;
  display: flex;
}

h1 {
  font-size: 3em;
  //transition: 700ms 1s linear;
}

h2 {
  font-size: 1.5em;
  //transition: 700ms 3s linear;
}

h3 {
  display: flex;
  font-size: 1em;
}

button {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 1em;
  color: #eee;
  max-width: 6em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px #666;
  border-radius: 1px;
  background-color: #666;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #333;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  margin-right: $gutter;
  margin-left: $gutter;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  @media (min-width: $max-width ) {
    margin: 0;
  }
}

img {
  max-width: 100%;
}

main {
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}
@import "scss/grid";
@import "scss/header";
@import "scss/heading";
@import "scss/text";
@import "scss/button";
@import "scss/card";
@import "scss/cardlist";
