@import "css/grid";
@import "css/header";
@import "css/heading";
@import "css/text";
@import "css/button";
@import "css/card";
@import "css/cardlist";
@import "css/checklist";
@import "css/img";
@import "css/media";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.top {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 0.5em 1em;
  justify-content: space-between;
  color: white;
}

.top--buttons > button {
  padding: 0.5em;
}
.button--1 {
  background: transparent;
  border: none;
}

.button--2 {
  color: inherit;
  background-color: gray;
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.button--2:hover {
  background-color: #4d4d4d;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 1em;
  background-color: #4d4d4d;
  color: white;
}

.bottom {
  border-top: solid gray 1px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.8em;
  opacity: 0.4;
}

.leftright {
  display: flex;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.botnsidu {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

main {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
