$max-width: 1200px;
$gutter: 20px;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fullstaerd {
  box-sizing: inherit;
}

.checklist-row {
  display: flex;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  margin-right: $gutter;
  margin-left: $gutter;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width ) {
    margin: 0;
  }
}

.botnsidu {
  text-align: center;
}

main {
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}

@import "scss/grid";
@import "scss/header";
@import "scss/heading";
@import "scss/text";
@import "scss/button";
@import "scss/card";
@import "scss/cardlist";
@import "scss/checklist";
@import "scss/img";
