* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.heading {
  font-family: "Roboto Slab", serif;
    font-weight: lighter;
}

header {
  background: transparent url(bg-subpage.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  opacity: 0.8;
  width: 100%;
  height: 25em;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: left;
}
.heading--one {
  color: white;
}
.cardlist {
  padding: 5em;
}

.texti {
  padding: 5px;
}
<<<<<<< HEAD

.Storbox {
  width: 90%
=======
p {
  padding: 5px;
>>>>>>> eb8ef047c71ea52a2b6710f70d5da9b8b0127593
}

.Panta {
  width: 15em;
  height: 3em;
  border: solid 1px #666;
  border-radius: 4px;
  background-color: #666;
  color: #eee;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD
  justify-content: center;
=======
  align-items: center;
  flex: none;
>>>>>>> eb8ef047c71ea52a2b6710f70d5da9b8b0127593
  display: flex;
}

.button:hover {
  background-color: #333;
}

footer {
  margin-top: 1em;
  background-color: #4d4d4d;
  color: white;
}

.bottom {
  border-top: solid gray 1px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.8em;
  opacity: 0.4;
}

.leftright {
  display: flex;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*TOP PART STARTS*/

.top {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  color: white;
}

.top--buttons > button {
  padding: 0.5em;
}
.button--1 {
  background: transparent;
  border: none;
}

.button--2 {
  background-color: gray;
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.button--2:hover {
  background-color: #4d4d4d;
}

/*TOP PART ENDS*/

@media (max-width: 400px){
.cardlist {
  display: flex;
  flex-direction: column;
}
}
